<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    
  </head>
  <body>
	
<div id="container_1"> 
    <h1 id="title">
      <font color="yellow"> 
          DIU Student Registration
      </font>
    </h1> <!--title-->
  <p id="description">
    (Enter the correct information)
  </p><!--description--->   
  </div><!---container_1--->
  <div id="container_2">
    <form id="survey-form" action="{% url 'regstudent' %}" method="post">
      {% csrf_token %}
      <label id="name-label">Full Name</label>
        <input type="text" id="name" name="name" class="form"  placeholder="Enter the name" required="required"><br><!--name--->
      <label id="email-label">Email Address</label>
        <input type="email" id="email" name="email" class="form" placeholder="Enter the email" required="required"><br><!---email-->
      <label id="Roll-label">Roll Number</label>
        <input type="number" id="roll" name="roll" class="form" placeholder="Enter the roll number" min=1 required="required"><br><!---number-->
  
        <label id="crs">Semester</label>
      <select id="dropdown" name="course" required="required">
        <option disabled selected value>
          Select Semester
        </option>
        <option value="Spring-2022">
          Spring-2022
        </option>
        <option value="Summer-2022">
          Summer-2022
        </option>
        <option value="Fall-2022">
          Fall-2022
        </option>
        </select>

        <label id="Stream">Course</label>
        <select id="dropdown" name="strm" required="required">
          <option disabled selected value>
            Select Course
          </option>
          <option value="SAD">
            System Analysis and Design (ACC)
          </option>
          <option value="DM">
            Data Mining & Machine Learning (FNK)
          </option>
          <option value="DM-LAB">
            Data Mining & Machine Learning Lab (TT)
          </option>
          </select>

      </select><!--dropdown--->
      <p>Gender</p>
      <label>
        <input type="radio" name="gender" value="Male">Male
      </label>
      <label>
        <input type="radio" name="gender" value="Female">Female
      </label>
      <label>
        <input type="radio" name="gender" value="Other">I prefer not to answer
      </label><!---radioButtons--->
      <p>What is your year of study?</p>
      <label>
        <input type="radio" name="year" value="1" required="required">First Year
      </label>
      <label>
        <input type="radio" name="year" value="2" required="required">Second Year
      </label>
      <label>
        <input type="radio" name="year" value="3" required="required">Third Year
      </label>
      <label>
        <input type="radio" name="year" value="4" required="required">Fourth Year
      </label>
      <ul class="nav">
      </ul>
      <input type="submit" id="submit" name="submit"  value="Submit to Train Images &#x2192"  onclick="window.location.href = '{% url 'regstudent' %}'; "  required="required">
      <p>
        <input type="button" id="back" name="back" onclick="window.location.href = '{% url 'landing' %}' " value="&#x2190 Go Back">
      </p>
    </form><!---survey-form--->
  </div><!--container_2--->
  
  </body>
</html> 
  
  